@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap");


body {
  /* background-image: url("https://images.pexels.com/photos/7130469/pexels-photo-7130469.jpeg?auto=compress&cs=tinysrgb&h=750&w=1400");

  background-repeat: no-repeat;
  background-size: cover; */
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  
}
